<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  	<link rel="icon" type="image/svg+xml" href="/img/tiumBot1.png" />
  	<title>TiumBotAdmin</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="/css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="/css/feather.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="/css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="/css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="/css/app-dark.css" id="darkTheme" disabled>
    
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/simplebar.min.js"></script>
    <script src='/js/daterangepicker.js'></script>
    <script src='/js/jquery.stickOnScroll.js'></script>
    <script src="/js/tinycolor-min.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
    <script type="text/javascript" src="/js/getHtml.js"></script>
        <script>
    	loadGetHeader("getHeader", "/admin/getHeader");
    	loadGetMain2("getMain2", "/admin/getMain2");
    </script>
    
<script type="text/javascript">
$(function(){
	$("#departmentMultiSelect").click(function(){
		window.open("/admin/department/departmentMultiSelect", "부서 검색"
				, "width=620, height=400, left=50, top=30")
	});
	$("#departmentName").click(function(){
		window.open("/admin/department/departmentMultiSelect", "부서 검색"
				, "width=620, height=400, left=50, top=30")
	});
});	
function setSelectedDepartments(departmentList){
	//console.log(departmentList);
	$("#selectedDepartments").empty(); //초기화??
	
	$.each(departmentList, function(index, dep){
		$("#selectedDepartments").append(`
			<div class="form-row">
                <div class="form-group col-md-1 d-flex align-items-end">
                  <label style="font-color:#000">부서 ${index+1}</label>
                  <input type="text" name="departmentId" placeholder="부서" id="departmentId" value="${dep.departmentId}" hidden readonly>
                </div>
                <div class="form-group col-md-5">
                <input type="text" name="departmentName" placeholder="부서명" id="departmentName" value="${dep.departmentName}" class="form-control" readonly>
              	</div>
            </div>	
		`);
		
	});
}
</script>
  </head>

  
  <body class="vertical  light  ">
    <div class="wrapper">
    <!-- header -->
    <div id="getHeader"></div>
      <main role="main" class="main-content">
      	<!-- main2 -->
     	<div id="getMain2"></div>
      	<!-- main1 -->
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
              <div class="row align-items-center my-4">
                <div class="col">
                  <h2 class="mb-2 page-title">부서정책 수정</h2>
                </div>
              </div>
              <form action="/admin/accessRule/allowdUpdate" method="post" >
                <hr class="my-4">
                <!-- <h5 class="mb-2 mt-4">Personal</h5>
                <p class="mb-4">Mauris blandit nisl ullamcorper, rutrum metus in, congue lectus</p> -->
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label >부서정책</label>
                    <input type="text" name="allowdName" th:value="${list[0].allowdName}" placeholder="정책 이름"  class="form-control">
                    <input type="text" name="allowdId" th:value="${list[0].allowdId}" readonly hidden>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label >허용할 부서</label>
                    <input type="text" placeholder="부서명" id="departmentName" class="form-control" readonly>
                  </div>
                  <div class="form-group col-md-6 d-flex align-items-end">
                    <button type="button" class="btn btn-lm btn-primary ml-2" id="departmentMultiSelect" >부서 검색</button>
                  </div>
                </div>
                <div id="selectedDepartments">
                <div class="form-row" th:each="dto, i:${list}">
                	<div class="form-group col-md-1 d-flex align-items-end">
                  		<label >부서 [[${i.index+1}]]</label>
                  		<input type="text" name="departmentId" placeholder="부서" id="departmentId" th:value="${dto.departmentId}" hidden readonly>
                	</div>
                	<div class="form-group col-md-5">
                		<input type="text" name="departmentName" placeholder="부서명" id="departmentName" th:value="${dto.departmentName}" class="form-control" readonly>
              		</div>
              		
            	</div>
            	</div>

                <hr class="my-4">
                <div class="form-row">
                  <div class="col-md-6">
                    
                  </div>
                  <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">정책 수정</button>
                  </div>
                </div>
              </form>
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      </main> <!-- main -->
    </div> <!-- .wrapper -->

  </body>
</html>