<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
  	<link rel="icon" type="image/svg+xml" href="/img/tiumBot1.png" />
  	<title>TiumBotAdmin</title>
    <!-- Simple bar CSS -->
    <link rel="stylesheet" href="/css/simplebar.css">
    <!-- Fonts CSS -->
    <link href="https://fonts.googleapis.com/css2?family=Overpass:ital,wght@0,100;0,200;0,300;0,400;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,600;1,700;1,800;1,900&display=swap" rel="stylesheet">
    <!-- Icons CSS -->
    <link rel="stylesheet" href="/css/feather.css">
    <!-- Date Range Picker CSS -->
    <link rel="stylesheet" href="/css/daterangepicker.css">
    <!-- App CSS -->
    <link rel="stylesheet" href="/css/app-light.css" id="lightTheme">
    <link rel="stylesheet" href="/css/app-dark.css" id="darkTheme" disabled>
    
    <script src="https://ajax.aspnetcdn.com/ajax/jQuery/jquery-1.8.1.min.js"></script>
    <script src="/js/jquery.min.js"></script>
    <script src="/js/popper.min.js"></script>
    <script src="/js/moment.min.js"></script>
    <script src="/js/bootstrap.min.js"></script>
    <script src="/js/simplebar.min.js"></script>
    <script src='/js/daterangepicker.js'></script>
    <script src='/js/jquery.stickOnScroll.js'></script>
    <script src="/js/tinycolor-min.js"></script>
    <script src="/js/config.js"></script>
    <script src="/js/apps.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-56159088-1"></script>
    <script>
      window.dataLayer = window.dataLayer || [];

      function gtag()
      {
        dataLayer.push(arguments);
      }
      gtag('js', new Date());
      gtag('config', 'UA-56159088-1');
    </script>
    <script type="text/javascript" src="/js/getHtml.js"></script>
        <script>
    	loadGetHeader("getHeader", "/admin/getHeader");
    	loadGetMain2("getMain2", "/admin/getMain2");
    </script>
    
<script type="text/javascript">
$(function(){
	$("#departmentSearch").click(function(){
		//var kind=$("#departmentId").val().substr(0,3);
		window.open("/admin/department/departmentSearch", "부서 검색"
				,"width=620, height=400, left=30, top=50");
	});
	$("#departmentName").click(function(){
		//var kind=$("#departmentId").val().substr(0,3);
		window.open("/admin/department/departmentSearch", "부서 검색"
				,"width=620, height=400, left=30, top=50");
	});
	$("#gradeSearch").click(function(){
		window.open("/admin/grade/gradeSearch", "직급 검색"
				, "width=620, height=400, left=30, top=50")
	});
	$("#gradeName").click(function(){
		window.open("/admin/grade/gradeSearch", "직급 검색"
				, "width=620, height=400, left=30, top=50")
	});
	$("#gradeLevel").click(function(){
		window.open("/admin/grade/gradeSearch", "직급 검색"
				, "width=620, height=400, left=30, top=50")
	});
});
</script>
  </head>

  
  <body class="vertical  light  ">
    <div class="wrapper">
    <!-- header -->
    <div id="getHeader"></div>
      <main role="main" class="main-content">
      	<!-- main2 -->
     	<div id="getMain2"></div>
      	<!-- main1 -->
        <div class="container-fluid">
          <div class="row justify-content-center">
            <div class="col-12 col-xl-10">
              <div class="row align-items-center my-4">
                <div class="col">
                  <h2 class="mb-2 page-title">사용자 수정</h2>
                </div>
              </div>
              <form action="/admin/user/userUpdate" method="post" >
                <hr class="my-4">
                <!-- <h5 class="mb-2 mt-4">Personal</h5>
                <p class="mb-4">Mauris blandit nisl ullamcorper, rutrum metus in, congue lectus</p> -->
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label >사용자 이름</label>
                    <input type="text" name="userNum" th:value="${dto.userNum}" readonly hidden>
                    <input type="text" name="userName" th:value="${dto.userName}" placeholder="사용자 이름" class="form-control">
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label >사용자 ID</label>
                    <input type="text" name="userId" th:value="${dto.userId}" placeholder="아이디" class="form-control" readonly> 
                  </div>
                  <div class="form-group col-md-6">
                  	<label >사용자 PW</label>
                    <input type="password" name="userPw" th:value="${dto.userPw}" placeholder="비밀번호" class="form-control">
                  </div>
                </div>
                <hr class="my-4">
                <div class="form-row">
                  <div class="form-group col-md-6">
                    <label >소속 부서</label>
                    <input type="text" name="departmentId" id="departmentId" th:value="${dto.departmentId}" placeholder="부서" hidden readonly>
                    <input type="text" name="departmentName" id="departmentName" th:value="${dto.DepartmentDTO.departmentName}" placeholder="부서명" class="form-control" readonly> 
                  </div>
                  <div class="form-group col-md-6 d-flex align-items-end">
                  	<button type="button" class="btn btn-lm btn-primary ml-2" id="departmentSearch" >부서 검색</button>
                  </div>
                </div>
                <div class="form-row">
                  <div class="form-group col-md-3">
                    <label >사용자 직급</label>
                    <input type="text" name="gradeId" id="gradeId" th:value="${dto.gradeId}" placeholder="직급" hidden readonly>
                    <input type="text" name="gradeName" id="gradeName" th:value="${dto.GradeDTO.gradeName}" placeholder="직급명" class="form-control" readonly> 
                  </div>
                  <div class="form-group col-md-3 d-flex align-items-end">
                    <input type="text" name="gradeName" id="gradeLevel" th:value="${dto.GradeDTO.gradeLevel}" placeholder="직급 레벨" class="form-control" readonly> 
                  </div>
                  <div class="form-group col-md-6 d-flex align-items-end">
                  	<button type="button" class="btn btn-lm btn-primary ml-2" id="gradeSearch" >직급 검색</button>
                  </div>
                </div>
                <hr class="my-4">
                <div class="form-row">
                  <div class="form-group col-md-2 d-flex align-items-end">
                    <label >관리자 여부</label> 
                  </div>
                  <div class="form-group col-md-3 ">
					<input type="checkbox" name="manager" th:checked="${dto.manager == 'y'}" value="y" > 
                  </div>
                </div>
                <hr class="my-4">
                <div class="form-row">
                  <div class="col-md-6">
                    
                  </div>
                  <div class="col-md-6 text-right">
                    <button type="submit" class="btn btn-primary">사용자 수정</button>
                  </div>
                </div>
              </form>
            </div> <!-- .col-12 -->
          </div> <!-- .row -->
        </div> <!-- .container-fluid -->
      </main> <!-- main -->
    </div> <!-- .wrapper -->

  </body>
</html>